<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6">
        <img class="d-block w-100" src="<%= photo.image.url %>" alt="">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= photo.description %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Uploaded by <strong><%= photo.uploader.first_name%> <%= photo.uploader.last_name%></strong></li>
            <li class="list-group-item"><%= photo.accessibility === 'Global' ? 'Accessible by the alumni and guest' : 'Only accessible by the alumni' %></li>
          </ul>
          <% if(currentUser && photo.uploader.equals(currentUser.alumni)) {%>
          <div class="card-body">
            <a href="/photos/<%= photo._id %>/edit" class="card-link btn btn-primary">Edit</a>
            <form class="d-inline" action="/photos/<%= photo._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
          </div>
          <% } %>
          <div class="card-footer">
            <a class="btn btn-primary" href="/photos">Back to Photo Collection</a>
          </div>
        </div>
    </div>
    <div class="col-6">
        <% if(currentUser) { %>
          <h2>Leave a Comment</h2>
          <form action="/photos/<%= photo._id %>/comment" method="POST" class="mb-5 validated-form" novalidate>
            <div class="mb-3">
              <label class='form-label' for="comment">Review Text</label>
              <textarea class='form-control' name="comment[content]" id="comment" cols="30" rows="3" required></textarea>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <button class="btn btn-success">Submit</button>
          </form>
        <% } %>
        <h2>Comments</h2>
        <% for(let comment of photo.comment_list) { %>
        <div class="card">
          <div class="mb-3 card-body">
            <h6 class="card-subtitle mb-2 text-muted">By <%= comment.commenter.first_name%> <%= comment.commenter.last_name%></h6>
            <p class="card-text"><%= comment.content %></p>
            <% if(currentUser && comment.commenter.equals(currentUser.alumni)) {%>
              <form action="/photos/<%= photo._id %>/comment/<%= comment._id %>?_method=DELETE" method='POST'>
                <button class='btn btn-danger'>Delete</button>
              </form>
            <% } %>
          </div>
        </div>
        <% } %>
    </div>
</div>